@{
    ViewBag.Title = "Home Page";
}
<style>
    .home {
        background-image: url("../../Ressources/img/home.jpg");
    }
</style>


<div class="jumbotron">
    <h1>Gestion Université</h1>
    <p class="lead">Site pour la gestion de l'université de VLNVLB</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>TOP 5 meilleurs eleves</h4>
        </div>
        <div class="col-md-6">
            <h4>Derniers absences</h4>
        </div>
    </div>
</div>